header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8.75em;
	z-index: 20;
	transition: 0.3s box-shadow ease-in-out;
	&.active {
		box-shadow: 0 3px 5px rgba(7, 7, 7, 0.3);
	}
}
.header_top {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-left: 19px;
	padding-right: 14px;
}

.logo {
	width: 35%;
	max-width: 422px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		display: block;
		width: 100%;
		text-align: center;
	}
	img {
		transition: 0.3s all ease-in-out;
		filter: brightness(0) invert(1);
	}
}

.right_head {
	width: 58%;
	max-width: 724px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: 1em;
}

.pc_navi {
	width: 100%;
	> ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		width: 100%;
		> li {
			position: relative;
			&.home {
				> a,
				> p {
					width: 1.875em;
					text-indent: -9999px;
					background: url(../images/shared_header_icon_home.svg) no-repeat center/contain;
					height: 1.3125em;
					margin-top: -0.1875em;
				}
			}
			> a,
			> p {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 0;
				text-decoration: none;
				text-align: center;
				font-weight: 500;
				font-size: 1em;
				line-height: 1;
				letter-spacing: 0.1em;
				transition: 0.3s all ease-in-out;
				color: #fff;
				padding-bottom: 0.5em;
				&:hover {
					opacity: 1;
					color: #fff;
					&::before {
						transform: scaleX(1);
					}
				}
				&::before {
					content: "";
					position: absolute;
					height: 1px;
					width: 100%;
					left: 0;
					bottom: 0;
					background-color: #fff;
					transform: scaleX(0);
					transition: 0.3s all ease-in-out;
				}
			}

			a,
			p {
				&.title {
					&::after {
						content: "";
						position: absolute;
						mask-repeat: no-repeat;
						mask-size: contain;
						mask-image: url(../images/shared_header_arrow_icon.svg);
						background-color: #fff;
						width: 0.875em;
						height: 0.5625em;
						top: calc(100% + 0.5em);
						left: calc(50% - 0.4375em);
						transition: 0.3s all ease-in-out;
					}
					&:hover {
						&::after {
							top: calc(100% + 0.65em);
						}
					}
				}
			}
			p.title {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: calc(100% + 0.3125em);
					left: calc(50% - 0.25em);
					transform: rotate(135deg) translateX(-50%);
					width: 0.5em;
					height: 0.5em;
					border-top: 1px solid #6f6f6f;
					border-right: 1px solid #6f6f6f;
					transition: all 0.5s ease;
				}
			}
			&.treatment {
				.subInner {
				}
			}
			&.mcol-2 {
				.subInner {
					max-width: 600px;
					width: 40em;
					transform: translate(40%, 100%);
					@media only screen and (min-width: 769px) and (max-width: 1170px) {
						font-size: 12px;
					}
					@media only screen and (min-width: 769px) and (max-width: 1170px) {
						width: 40em;
						transform: translate(25%, 100%);
					}
					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						li {
							width: 50%;
						}
					}
				}
			}
		}

		.subInner {
			position: absolute;
			width: 220px;
			right: 50%;
			bottom: -1.25em;
			padding-top: 0px;
			transform: translate(45%, 100%);
			transition: all 0.2s ease-in-out;
			opacity: 0;
			visibility: hidden;
			z-index: 1;

			&.active {
				opacity: 1;
				visibility: visible;
			}
			@media only screen and (min-width: 769px) and (max-width: 1366px) {
				bottom: -1.125em;
			}
			@media only screen and (min-width: 769px) and (max-width: 1024px) {
				bottom: -1.05em;
			}
			ul {
				background-color: rgba($color: #cf8a97, $alpha: 0.9);
				padding-bottom: 10px;

				li {
					padding: 0 10px;

					a {
						position: relative;
						display: block;
						padding: 19px 10px 19px 28px;
						border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
						transition: all 0.2s ease;
						font-size: 14px;
						font-weight: 500;
						color: #fff;
						text-decoration: none;
						text-align: left;
						letter-spacing: 0px;

						&::before {
							content: "\203A";
							display: block;
							position: absolute;
							top: 50%;
							left: 10px;
							transform: translateY(-54%);
							font-size: 14px;
						}
					}
				}
			}
		}

		.treatment .subInner {
			transform: translate(25%, 100%);
		}
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	header {
		font-size: 12px;
		.pc_navi > ul {
			font-size: 14px;
		}
	}
	.right_head {
		width: 60%;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
	:root {
		//--wrapper: 100px;
	}
	.pc_navi {
		> ul {
			> li {
				> a,
				p {
					//font-size: 1.5vw;
				}
			}

			.subInner {
				ul {
					li {
						a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
	.header_top {
		padding-left: 20px;
		padding-right: 20px;
	}
	.pc_navi {
		> ul {
			> li {
				> a,
				p {
				}
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1170px) {
	:root {
		--ttl_size: 22px;
		--wrapper: 80px;
	}
	header {
		font-size: 1.43vw;
		height: auto;
		padding-bottom: 15px;
	}
	.header_top {
		padding-left: 10px;
		padding-right: 10px;
	}
	.right_head {
		width: 65%;
	}
}

.header_nav {
	max-width: 50em;
	margin-left: auto;
	padding-top: 1.5625em;
	margin-bottom: 1.0625em;
	@media only screen and (min-width: 769px) and (max-width: 1366px) {
		max-width: 55em;
	}
	@media only screen and (min-width: 769px) and (max-width: 1170px) {
		font-size: 1.0256vw;
		padding-top: 15px;
	}
}

.shared_btn01,
.shared_btn02 {
	text-align: center;
	width: 30%;
	max-width: 11.25em;
	a {
		text-decoration: none;
		line-height: 1;
		letter-spacing: 0.2em;
		display: block;
		width: 100%;
		color: #fff;
		border-radius: 25px;
		background-repeat: no-repeat;
		font-size: 1.125em;
		padding: 0.77777777777em 0 1em 0.22222222222em;
		transition: 0.3s all ease-in-out;
		&:hover {
			opacity: 1;
			color: #fff;
		}
		@media only screen and (min-width: 769px) and (max-width: 1366px) {
			padding-top: 0.77777777777em;
			padding-bottom: 0.77777777777em;
		}
	}
}

.shared_btn01 {
	width: 45%;
	max-width: 21.875em;
	a {
		background-color: #4b8044;
		background-image: url(../images/shared_icon_location.svg), url(../images/shared_btn_icon01.svg);
		background-position:
			1.16666666667em calc(50% - 0px),
			93% calc(50% - 1px);
		background-size: 0.88888888888em, 0.83333333333em;
		@media only screen and (min-width: 769px) {
			&:hover {
				background-color: #ea8b89;
			}
		}
	}
}

.shared_btn02 {
	a {
		background-color: #b62467;
		background-image: url(../images/shared_icon_web.svg), url(../images/shared_btn_icon01.svg);
		background-position:
			1.05555555556em calc(50% - 1px),
			92.5% calc(50% - 1px);
		background-size: 0.94444444444em, 0.83333333333em;
	}
}

.h_tel {
	width: 38%;
	max-width: 236px;
	margin-top: -0.3125em;
	a {
		text-decoration: none;
	}
	p {
		line-height: 1;
		margin: 0;
	}
	.h_tel_ttl01 {
		color: #6f6f6f;
		letter-spacing: 0.2em;
		border-bottom: 1px solid #d3d3d3;
		margin-bottom: 0.5em;
		padding-bottom: 0.625em;
		padding-left: 0;
		text-align: center;
		margin-left: 0.625em;
	}
	.h_tel_ttl02 {
		text-align: center;
		a {
			font-family: var(--f-en);
			background: url(../images/shared_icon_tel.svg) no-repeat 0.46666666666em 0.06666666666em/0.66666666666em;
			color: #6f6f6f;
			letter-spacing: 0.05em;
			font-size: 1.875em;
			padding-left: 1.36666666667em;
			white-space: nowrap;
		}
	}
}

//footer
footer {
	background: url(../images/ft_bg.jpg) no-repeat top center / cover;
	padding: 91px 0 0;
	.ft_info {
		width: 48%;
		max-width: 600px;
	}
	.ft_menu {
		width: 48%;
		max-width: 598px;
		padding-top: 7px;
	}
	.shared_tbl_address {
		color: #ffffff;
		margin-bottom: 31px;
	}
	.ft_logo {
		a:hover {
			opacity: 1;
		}
		img {
			width: 586px;
			max-width: 100%;
		}
	}
	.ft_tel {
		text-align: center;
		margin-bottom: 1.6875em;
		a {
			text-decoration: none;
			color: #ffffff;
			font-family: var(--f-en);
			font-weight: 300;
			letter-spacing: 0.1em;
			font-size: 2.625em;
			line-height: 1;
			span {
				font-size: 0.52380952381em;
				position: relative;
				top: 1px;
				letter-spacing: 0.14em;
				padding-right: 5px;
				padding-left: 5px;
			}
		}
	}
	.ft_btn {
		margin-bottom: 1.875em;

		.shared_btn01 {
			max-width: 100%;
			width: calc(60% - 10px);
			a {
				padding: 1.1111111111em 0 1.3333333333em;
				border-radius: 31px;
				background-position:
					7% 50%,
					94.6%;
			}
		}
		.shared_btn02 {
			max-width: 100%;
			width: calc(40% - 10px);
			a {
				padding: 1.1111111111em 0 1.3333333333em 2.0555555556em;
				border-radius: 31px;
				background-position:
					29% 50%,
					94.6%;
			}
		}
	}

	.shared_tbl_p,
	.shared_tbl_ul li {
		color: #ffffff;
	}

	.ft_map {
		margin-top: 20px;
		iframe {
			display: block;
			width: 100%;
			height: 18.125em;
			filter: grayscale(1);
		}
	}

	.copy {
		margin-top: 3.75em;
		background: rgba(114, 43, 56, 0.5);
		padding: 2.25em 0 2.375em;
		text-align: center;
		p {
			line-height: 1;
			color: #ffffff;
			letter-spacing: 0.2em;
			padding-left: 0.375em;
		}
	}
	@media only screen and (min-width: 769px) and (max-width: 1280px) {
		.ft_btn .shared_btn01 a {
			background-position:
				12% 48%,
				94.6%;
		}
		.ft_btn .shared_btn02 a {
			background-position:
				31% 46%,
				94.6%;
		}
	}
	@media only screen and (min-width: 769px) and (max-width: 1200px) {
		.ft_btn .shared_btn01 a {
			background-position:
				8% 48%,
				94.6%;
		}
	}
	@media only screen and (min-width: 769px) and (max-width: 1280px) {
		.link_list ul li a::before {
			width: 4px;
			height: 4px;
		}
	}
	@media only screen and (min-width: 769px) and (max-width: 1170px) {
		.link_list ul li a {
			font-size: 12px;
			letter-spacing: 0;
			padding-left: 12px;
			&::before {
				width: 4px;
				height: 4px;
			}
		}
		.ft_btn {
			a {
				font-size: 1.43vw;
				padding: 1.2em 0;
			}

			.shared_btn01 {
				width: calc(60% - 5px);
				a {
					background-position:
						6% 48%,
						94.6%;
				}
			}
			.shared_btn02 {
				width: calc(40% - 5px);
			}
		}
	}
}

.link_list {
	.ttl {
		line-height: 1;
		color: #ffffff;
		font-family: var(--f-en);
		font-weight: 300;
		letter-spacing: 0.1em;
		font-size: 2.625em;
		margin-bottom: 20px;
	}

	.fblock {
		justify-content: flex-start;
	}
	.menu01 {
		width: 55.6%;
	}
	.menu02 {
		width: 44.4%;
	}
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 14px;
			}
			a {
				line-height: 1.75;
				text-decoration: none;
				color: #ffffff;
				padding-left: 16px;
				letter-spacing: 0.2em;
				display: table;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					width: 0.3125em;
					height: 0.3125em;
					background-color: #f87f95;
					border-radius: 50%;
					left: 0.0625em;
					top: 0.8125em;
				}
				&:hover {
					color: #ffffff;
					opacity: 1;
				}
				transition: 0.3s all ease-in-out;
				@media only screen and (min-width: 769px) {
					&:hover {
						text-shadow: 0 0 5px #fff;
					}
				}
			}
		}
	}
	.link_list_item {
		&:last-child {
			.ttl {
				margin-top: 54px;
			}
		}
	}
	@media only screen and (max-width: 768px) {
		ul li {
			padding: 0;
			margin: 0;
			&:not(:last-child) {
				margin: 0;
			}
			&.lv {
				margin: 0;
			}
			&::before {
				display: none;
			}
			a {
				display: block;
				padding: 10px 10px 10px 25px;
				border-bottom: 1px dashed #ffffff;
				font-size: 14px;
				&::before {
					content: "";
					position: absolute;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: #ffffff;
					left: 10px;
					top: 1.5em;
				}
			}

			ul {
				margin: 0;
				padding: 0;
				li:not(:last-child) {
					margin: 0;
				}
				li a {
					padding-left: 40px;
					&::before {
						left: 25px;
					}
				}
			}
		}
	}
}
